html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Chiều cao tối thiểu bằng 100% viewport */
  }
  
  .main-content {
    flex: 1; /* Đẩy footer xuống dưới */
  }
  